CONFIG_BLINK_LED_GPIO=y
CONFIG_BLINK_GPIO=8

CONFIG_NEWLIB_ENABLE=y
CONFIG_NEWLIB_LIBRARY_LEVEL_NORMAL=y
CONFIG_NEWLIB_NANO_FORMAT=
CONFIG_SSL_USING_MBEDTLS=y
CONFIG_LWIP_IPV6=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv
CONFIG_NEWLIB_LIBRARY_LEVEL_NORMAL=y
CONFIG_NEWLIB_NANO_FORMAT=
CONFIG_LWIP_IPV6=y
CONFIG_PARTITION_TABLE_CUSTOM=y

CONFIG_MQTT_CLIENT_IDENTIFIER="ee2e9203f0a0971c599888fb8b67e3a1882626cd-ucnam"
CONFIG_MQTT_BROKER_ENDPOINT="a34vuzhubahjfj-ats.iot.ap-northeast-2.amazonaws.com"
CONFIG_EXAMPLE_WIFI_SSID="kona_guest"
CONFIG_EXAMPLE_WIFI_PASSWORD="zhsk!234"